librosa==0.11.0rc1
soundfile==0.13.1
opencv-python==4.12.0.88
mir_eval==0.8.2
numpy==2.3.1
yamlargparse==1.31.1
scipy==1.16.0
tqdm==4.67.1
pesq==0.0.4
pystoi==0.4.1
tensorboard==2.19.0
torch-complex==0.4.4
rotary-embedding-torch==0.8.8
python_speech_features==0.6
typeguard==4.4.4
huggingface-hub==0.33.4
gdown==5.2.0
